* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: #0b2434;
  padding: 20px;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Karla", sans-serif;
}

main {
  background-color: #f5f5f5;
  max-width: 400px;
  width: 100%;
  padding: 30px 35px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
  text-align: center;
}

.title {
  font-size: 2rem;
  margin: 0 0 10px;
}

.instructions {
  font-size: 0.9rem;
  margin: 0 0 25px;
  color: #4a4a4a;
}

.dice-container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 15px;
  margin-bottom: 25px;
}

button {
  border: none;
  border-radius: 8px;
  width: 50px;
  height: 50px;
  font-size: 1.5rem;
  cursor: pointer;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.15);
}

.roll-dice {
  height: 50px;
  width: 100px;
  border: none;
  border-radius: 6px;
  background-color: #5035ff;
  color: white;
  font-size: 1.2rem;
}

.roll-dice:active {
  transform: translateY(1px);
}

.times-rolled {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem
}
